defaults
    mode    http
    timeout connect 5s
    timeout client  50s
    timeout server  50s

frontend go_server_front
    bind *:80
    mode http
    default_backend go_servers

backend go_servers
    mode http
    balance roundrobin
    server go1 10.0.0.21:8080
    server go2 10.0.0.22:8080
    server go3 10.0.0.22:8080